div {
  background-color: red;
  margin: 40px;
}

body {
  background-color: red;
}

mat-card {
  position: relative;
  //display: inline;
  float: left;
  max-width: 200px;
  margin: 10px;
  padding: auto;
  background-color: gray;
}

.p1 {
  display: inline;
  font-size: 15px;


}
.p2 {
  float: right;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}


.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
